<h1>Captain Kirk Home Page</h1>
<p>
  Captain Kirk is the coolest guy ever, like for seriousness
  <a href="http://memory-alpha.wikia.com/wiki/James_T._Kirk">Data on Captain Kirk</a>
</p>
<p>Find me in app/views/static_pages/kirk.html.erb</p>